
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    transform: scale(1.1);
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

.about {
    height: 800px;
    background-color: lightgray;
}

.contact {
    height: 800px;
    background-color: darkgray;
}
.main-image img{
    width: 100%;
    height: 100%;
    position: relative;
}

.project-title h1{
    font-family: Poppins;
    color: black;
    font-weight: bold;
    font-size: 70px;
    position: relative;
    top: 20%;
    left: 46%;
    right: 0;
}
.place-card-container{ 
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 80px;
    overflow:hidden;
    top: 35%;
    left: 50%;
    right: 0;
}
.place-card-text {
    width: 60%;
    height: 300%;
    overflow: inherit;
    position: relative;
    top: 0;
    left: 5%;
    right: 0;
}
.place-card-text h1{
    color: black;
    font-weight: normal;
    font-family: Poppins;
    font-size: 1.3vw;
}
.comma img{
    width: 10pw;
    height: 10pw;
    position: relative;
    top: 0;
    left: 1%;
    right: 0;
}
.author {
    height: 100px;
    width: 300px;
    font-family: Poppins;
    color: black;
    font-weight: bold;
    font-size: 2em;
}
.author a{
    position: absolute;
    top: 860px;
    left: 6%;
    right: 0;
}
.portrait{
    position: absolute;
    margin-left: 65%;
}
.portrait img {
    width: 150pw;
    height: 150%;
}